#main {
  display: flex;
 
}


#gameboard {
  width: auto; 
  height: 700px;
  
  margin: auto; 
  
  flex-shrink: 0;
}

#player1, #player2 {

  flex-grow: 1;
}

#player1 img, #player2 img {
  width: 250px;
}

#player1 h1, #player2 h1 {
  color: orangered;
}



#player2 img {
  margin-bottom: 15px;
  width: 250px;
}

.row {
  width: auto;
  height: 70px;

}
.square {
  
  width: 70px;
  height: 70px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #F6CD8B;
  box-sizing: border-box;
  
}

.mainTile {
  width: 70px;
  height: 70px;
}

.character {
  height: 70px;
}

#player1, #player2 {
text-align: center;
font-family: Crayon;

font-weight: normal;
font-size: 1.15em;
margin: 0px 15px;
}

